@model IEnumerable<_2021_QuanLyThietBi.Models.NhanVien>

@{
    ViewData["Title"] = "ComboBoxNV";
}

@{
    <h1>Liệt kê Nhân viên dưới dạng Combo Box</h1>

    <div>
        <h4>Nhân Viên</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form action="/NV_TB/LietKeNVTB" method="post">
                    <div class="form-group">
                        <label for="SoSP" class="control-label">Tên nhân viên: </label>
                        <select name="MaNhanVien">
                            @foreach (var nv in Model)
                            {
                                <option value="@nv.MaNhanVien">@nv.TenNhanVien</option>

                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Liệt kê NVTB" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}