
@{
    ViewData["Title"] = "NhapSL";
}


@{
    <h1>NhapSL</h1>

    <div>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="LietKeSL" method="post">
                    <div class="form-group">
                        <label for="soLan" class="control-label">So lan sua chua </label>
                        <input type="text" name="soLan" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Liet ke" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}