@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Chon so xe";
    <form action="/BaoDuong/LietKeBD" method="post">
        Chon so xe <input type="text" name="soXe" placeholder="51G-XXXXX">
        <input type="submit" name="submit" value="Liet ke">
    </form>
}
