@{ ViewData["Tilte"] = "Liệt kê N Sản phẩm"; }
@{
    <h1>Nhap so luong trieu chung</h1>

    <div>
        <h4>Trieu chung</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form action="/CongNhan/LietKeSL" method="post">
                    <div class="form-group">
                        <label for="soLan" class="control-label">So trieu chung </label>
                        <input type="text" name="soLan" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" value="Liệt kê các sản phẩm" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>
    </div>
}